.Rproj.user
.Rhistory
.RData
.Ruserdata

#files
*.csv
*.xlsx
*.json
*.pdf
*.docx
*.html
*.pyc
*.zip
*.ps1
*.dbcnb
*.Rproj

#folders
Newsletters/*
api/lambda_api_package*
dashboard/*
lambda/lambda_package/*
Models/*
Images/*.png
