.Rproj.user
.Rhistory
.RData
.Ruserdata

#universal file types
*.csv
*.xlsx
*.json
*.pdf
*.docx
*.html
*.pyc
*.zip
*.ps1
*.dbcnb
*.Rproj

#specific files
Images/pseudo_events_won.png
Images/pseudo_ranking_trends.png
Images/value_golfers_eg.png

#folders
Newsletters/*
api/lambda_api_package*
dashboard/*
lambda/lambda_package/*
Models/*
